openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW SyncIt! Web API'
  description: 'Web Resources Specification (A7) for SyncIt!'

servers:
- url: http://lbaw24115.lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw24115/-/wikis/eap

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Users'
  - name: 'M03: Events and Tickets'
  - name: 'M04: Polls and Comments'
  - name: 'M05: Administration'
  - name: 'M06: Notifications'


paths:

###################################AUTHENTICATION##############################################

##LOGIN
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: VST'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: VST'
      tags:
        - 'M01: Authentication'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to homepage.'
                  value: '/home'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 
##LOGOUT
  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated used. Access: MBR, ADM'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

##REGISTER
  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: VST'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: VST'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

###VERIFY EMAIL
/verify_email/send:
  get:
    operationId: R106
    summary: 'R106: Send Verification Email'
    description: 'Sends a verification email with a confirmation link to the user. Access: VST'
    tags:
      - 'M01: Authentication'
    parameters:
      - in: query
        name: email
        schema:
          type: string
        required: true
        description: 'The email address to send the verification link'
    responses:
      '200':
        description: 'Verification email sent successfully.'
      '400':
        description: 'Invalid email address or request error.'
      '404':
        description: 'Email address not found.'

/verify-email/confirm:
    get:
      operationId: R107
      summary: 'R107: Confirm Email Address'
      description: 'Confirms the users email when they click the confirmation link. Access: VST'
      tags:
        - 'M01: Authentication'
      parameters:
        - in: query
          name: token
          schema:
            type: string
          required: true
          description: 'Unique token for email confirmation'
      responses:
        '302':
          description: 'Redirects based on the result of the confirmation.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Email confirmed successfully. Redirect to home page.'
                  value: '/homepage'
                302Error:
                  description: 'Invalid or expired token. Redirect to error page.'
                  value: '/verify-email/error'

/verify-email/status:
  get:
    operationId: R108
    summary: 'R108: Check Email Confirmation Status'
    description: 'Checks if the users email is confirmed. Access: VST'
    tags:
      - 'M01: Authentication'
    parameters:
      - in: query
        name: email
        schema:
          type: string
        required: true
        description: 'Email address to check confirmation status'
    responses:
      '200':
        description: 'Returns the email confirmation status.'
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                confirmed:
                  type: boolean
              example:
                email: 'user@example.com'
                confirmed: true
      '404':
        description: 'Email address not found.'    

## RESET PASSWORD
/reset-password/request:
  post:
    operationId: R109
    summary: 'R109: Request Password Reset'
    description: 'Allows a member to request a password reset using their username. Access: PUB'
    tags:
      - 'M01: Authentication'
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              username:
                type: string
                description: 'Username of the member requesting the password reset'
            required:
              - username
    responses:
      '200':
        description: 'Password reset request received. Verification token sent.'
      '404':
        description: 'User not found.'
      '500':
        description: 'Server error while processing the password reset request.'

/reset-password/verify:
  get:
    operationId: R110
    summary: 'R110: Verify Password Reset Token'
    description: 'Verifies the password reset token sent to the user. Access: PUB'
    tags:
      - 'M01: Authentication'
    parameters:
      - in: query
        name: token
        schema:
          type: string
        required: true
        description: 'Unique token for password reset verification'
    responses:
      '200':
        description: 'Token is valid. Proceed to reset password.'
      '400':
        description: 'Invalid or expired token.'
      '404':
        description: 'Token not found.'
      '500':
        description: 'Server error during token verification.'

/reset-password/update:
  post:
    operationId: R111
    summary: 'R111: Update Password'
    description: 'Allows a member to set a new password after verification. Access: PUB'
    tags:
      - 'M01: Authentication'
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
                description: 'Verification token for password reset'
              new_password:
                type: string
                description: 'The new password for the user account'
            required:
              - token
              - new_password
    responses:
      '200':
        description: 'Password updated successfully.'
      '400':
        description: 'Invalid input (e.g., weak password).'
      '404':
        description: 'Token not found or expired.'
      '500':
        description: 'Server error while updating the password.'        

######################################USERS###########################################

##VIEW PROFILE
  /users/{id}:
    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show the individual user profile. Access: VST, MBR,OWN, ART, ADM'
      tags:
        - 'M02: Users'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
        '302':
          description: 'Redirect if user is not logged in or other user doesnt exists'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failure.'


#################################EVENTS AND TICKETS####################################

##SEARCH EVENTS
  /events:
    get:
      operationId: R202
      summary: 'R202: Search Events API'
      description: 'Searches for events and returns the results as JSON. Access: MBR, ADM'

      tags: 
        - 'M03: Events and Tickets'

      parameters:
        - in: query
          name: search
          description: 'String to use for full-text search'
          schema:
            type: string
          required: false
        - in: query
          name: category
          description: 'Category of the event'
          schema:
            type: string
          required: false
        - in: query
          name: tag
          description: 'Tag of the event'
          schema:
            type: string
          required: false


      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    category:
                      type: string
                    tag:
                      type: string
                    owner:
                      type: string
                example:
                  - id: "123"
                    title: "Jazz Nights Festival"
                    category: "Music"
                    tag: "Jazz"
                    owner: "Emily Davis"

                  - id: "456"
                    title: "Salsa Under the Stars"
                    category: "Dance"
                    tag: "Salsa"
                    owner: "Carlos Rivera"

  /events/creation:
      post:
        operationId: R203
        summary: 'R203: Create Event with Media'
        description: 'Allows a member to create a new event with optional media uploads (images). Access: MBR'
        tags:
          - 'M03: Events and Tickets'
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: 'Title of the event'
                  description:
                    type: string
                    description: 'Detailed description of the event'
                  location:
                    type: string
                    description: 'Location where the event will take place'
                  date:
                    type: string
                    format: date-time
                    description: 'Date and time of the event in ISO 8601 format'
                  duration:
                    type: integer
                    description: 'Duration of the event in minutes'
                  is_public:
                    type: boolean
                    description: 'Indicates if the event is public or private'
                  participants:
                    type: array
                    items:
                      type: string
                    description: 'List of participant emails to invite'
                  media:
                    type: array
                    items:
                      type: string
                      format: binary
                    description: 'Optional media files (images or videos) for the event'
                required:
                  - title
                  - date
                  - is_public
        responses:
          '201':
            description: 'Event created successfully.'
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: 'Unique identifier of the created event'
                    title:
                      type: string
                    date:
                      type: string
                    location:
                      type: string
                    media_urls:
                      type: array
                      items:
                        type: string
                      description: 'List of URLs for uploaded media files'
                example:
                  id: 123
                  title: 'Live House Mix'
                  date: '2024-12-01T14:00:00Z'
                  location: 'Avenida dos Aliados, Porto, Portugal'
                  media_urls:
                    - 'https://placeholder.com/media/event123/image1.jpg'
                    - 'https://placeholder.com/media/event123/image2.png'
          '400':
            description: 'Invalid input data.'
          '401':
            description: 'Unauthorized. User is not logged in.'
          '500':
            description: 'Server error during event creation.'

  /events/{event_id}/invite:
    post:
      operationId: R204
      summary: 'R204: Invite Users to Event by Username'
      description: 'Allows an artist to invite friends to their event using their usernames. The invite is sent as an in-app notification. Access: OWN'
      tags:
        - 'M03: Events and Tickets'
        - 'M06: Notifications'
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
          description: 'Unique identifier of the event'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usernames:
                  type: array
                  items:
                    type: string
                  description: 'List of usernames to invite to the event'
              required:
                - usernames
      responses:
        '200':
          description: 'Invitations sent successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_id:
                    type: integer
                    description: 'ID of the event'
                  invited:
                    type: array
                    items:
                      type: string
                    description: 'List of successfully invited usernames'
                  failed:
                    type: array
                    items:
                      type: string
                    description: 'List of usernames where the invitation failed (e.g., user not found)'
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        username:
                          type: string
                        notification_status:
                          type: string
                          description: 'Status of the notification (e.g., sent, failed)'
              example:
                event_id: 123
                invited:
                  - 'john_doe'
                  - 'jane_smith'
                failed:
                  - 'unknown_user'
                notifications:
                  - username: 'john_doe'
                    notification_status: 'sent'
                  - username: 'jane_smith'
                    notification_status: 'sent'
                  - username: 'unknown_user'
                    notification_status: 'failed'
        '400':
          description: 'Invalid input data (e.g., malformed username).'
        '401':
          description: 'Unauthorized. User is not logged in.'
        '404':
          description: 'Event not found or username not found.'
        '500':
          description: 'Server error while sending invitations.'
          
  /events/{event_id}/join:
    post:
      operationId: R205
        summary: 'R205: Join Event'
        description: 'Allows a member to join an event and be added as a participant. Access: MBR'
              tags:
                - 'M03: Events and Tickets'
              parameters:
                - in: path
                  name: event_id
                  schema:
                    type: integer
                  required: true
                  description: 'Unique identifier of the event'
              responses:
                '200':
                  description: 'Successfully joined the event. Member is added as a participant.'
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          event_id:
                            type: integer
                            description: 'ID of the event'
                          username:
                            type: string
                            description: 'Username of the participant'
                          status:
                            type: string
                            description: 'Participation status (e.g., joined)'
                      example:
                        event_id: 101
                        username: 'john_doe'
                        status: 'joined'
                '400':
                  description: 'Invalid input data.'
                '401':
                  description: 'Unauthorized. User is not logged in.'
                '404':
                  description: 'Event not found.'
                '409':
                  description: 'User is already a participant.'
                '500':
                  description: 'Server error during participation process.'
        
  /events/{event_id}/leave:
    post:
      operationId: R205
      summary: 'R205: Leave Event'
      description: 'Allows a member to leave an event and be removed as a participant. Access: MBR'
      tags:
        - 'M03: Events'
      parameters:
        - in: path
          name: event_id
          schema:
            type: integer
          required: true
          description: 'Unique identifier of the event'
      responses:
        '200':
          description: 'Successfully left the event. Member is removed from the participant list.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_id:
                    type: integer
                    description: 'ID of the event'
                  username:
                    type: string
                    description: 'Username of the participant'
                  status:
                    type: string
                    description: 'Participation status (e.g., left)'
              example:
                event_id: 101
                username: 'john_doe'
                status: 'left'
        '400':
          description: 'Invalid input data.'
        '401':
          description: 'Unauthorized. User is not logged in.'
        '404':
          description: 'Event not found or user not a participant.'
        '500':
          description: 'Server error during leave process.'
    

###############################POLLS AND COMMENTS####################################


###############################ADMINISTRATION####################################


###############################NOTIFICATIONS####################################

##SEE NOTIFICATIONS
  /home/notifications:

    get:
      operationId: R601
      summary: 'R601: User notifications page.'
      description: 'Show user notifications page. Access: MBR, ADM'
      tags:
        - 'M06: Notifications'

      responses:
        '200':
          description: 'OK. Show the user notifications page.'
        '302':
          description: 'Redirect if user is not logged in'
          headers:
            Location:
              schema:
                type: string
              example:
                302Failure:
                  description: 'Failure. User not logged in.'


 