@import url('variables.css');
@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('artist.css');
@import url('event-card.css');
@import url('event.css');
@import url('events.css');
@import url('artist-card.css');
@import url('create.css');
@import url('comment.css');
@import url('show-more.css');
@import url('login.css');
@import url('register.css');
@import url('admin.css');
@import url('tickets.css');
@import url('edit-page.css');
@import url('notifications.css');

* {
  color: var(--text-color);
  text-decoration: none;
}

.go-back-btn {
  display: flex; /* To center content using flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding: 0.8rem 1.5rem; /* Adjust padding for a larger clickable area */
  background-color: var(--primary-color); /* Keep your primary color */
  color: #fff; /* White text for contrast */
  font-size: 1.5rem; /* Adjust font size as needed */
  border-radius: 3em; /* Rounded shape */
  text-decoration: none; /* Remove underline for anchor tags */
  cursor: pointer; /* Pointer cursor for better UX */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.go-back-btn:hover{
  background-color: var(--hover-color);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
}

.success,
.error{
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    font-weight: bold;
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.success{
  background-color: green;
}
.error{
  background-color: red;
}

html, body {
	background-color: var(--background-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  margin-top: 7.5rem;
  flex: 1;
  display: 1;
  flex-direction: column;
}

.tag:hover {
        transform: scale(1.05);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
