@import url('variables.css');
@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('artist.css');
@import url('event-card.css');
@import url('event.css');

html, body {
	background-color: var(--background-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  margin-top: 7.5rem;
  flex: 1;
  display: 1;
  flex-direction: column;
}