@import url('variables.css');

.artist-card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .artist-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .artist-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    border: 4px solid ;
  }
  
  .artist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .artist-name {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .artist-username {
    color: #ccc; /* Slightly lighter color than the name */
    font-size: 14px;
    margin-bottom: 8px; /* Space between username and rating */
}

.artist-card .artist-rating {
  display: flex; /* Align the stars in a row */
  flex-direction: row;
  font-size: 18px; /* Adjust the size of the stars */
  margin-top: 5px; /* Space between rating and the artist name */
}

.star, .star-half, .star-empty {
  margin-right: 2px; /* Space between the stars */
}

.star {
  color: #ffd700; /* Gold color for the stars */
}



