:root {
	--primary-color: #AB58FE;
	--secondary-color: #59248E;
	--white-color: #D9D9D9;
	--background-color: #242424;
	--black-color: #1F1F1F;
	--gray-color: #A9A8A8;
	--hover-color: #44B38C;
	--text-color: #FFFFFF;
}
