@import url('variables.css');

.artist-card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .artist-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .artist-image {
    border-radius: 50%; /* Makes the image a perfect circle */
    overflow: hidden; /* Ensures content doesn't spill out */
    margin-bottom: 15px; 
    border: 4px solid #fff; /* Set a border color */
    display: flex; /* Center image using flexbox */
    justify-content: center;
    align-items: center;
}

.artist-image img {
    max-width: 200px;
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
}

  .artist-name {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .artist-username {
    color: #ccc; /* Slightly lighter color than the name */
    font-size: 14px;
    margin-bottom: 8px; /* Space between username and rating */
}

.artist-card .artist-rating {
  display: flex; /* Align the stars in a row */
  flex-direction: row;
  font-size: 18px; /* Adjust the size of the stars */
  margin-top: auto; /* Space between rating and the artist name */
}

.star, .star-half, .star-empty {
  margin-right: 2px; /* Space between the stars */
}

.star-half{
  color: linear-gradient(90deg, #FFD700 50%, var(--gray-color) 50%);
  background: linear-gradient(90deg, #FFD700 50%, var(--gray-color) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.star {
  color: #ffd700; /* Gold color for the stars */
}



